// COLORS
$color-black: #000;
$color-secondary: #706774;
$color-white: #fff;
$color-grey: #696969;
$color-darkgrey: #515051;
$color-grey-light: #f7f7f7;
$color-medium-brown: #654321;
$color-light-brown: #bd9a7a;
$color-green: #547067;
$color-light-green: #84bda9;
$color-dark-blue: #2b2d42;
$color-light-grey: #8d99ae;
$color-natural: #edf2f4;
$color-light-red: #ef233c;
$color-red: #d90429;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
