.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.8);
  border-radius: 5px;
  padding: 6rem;
  font-size: 1.6rem;
  margin-bottom: 5rem;

  @include respond(tablet-portrait) {
    width: 100%;
    padding: 4rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem);
    position: relative;
  }

  &__img {
    height: 100%;
    width: 70%;
    border-radius: 30rem;
    transform: translateX(2rem) scale(1);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%, 50%);
    color: $color-white;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translateY(-50%, 50%);
  }

  &:hover &__img {
    transform: translateX(2rem) scale(1.1);
    filter: blur(3px) brightness(60%);
  }
}
